[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
awscli = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
jupyter = "*"
matplotlib = "*"
fastapi = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.8"
